useDynLib(mrbsizeR, .registration=TRUE)
S3method(plot,CImapGrid)
S3method(plot,CImapSphere)
S3method(plot,HPWmapGrid)
S3method(plot,HPWmapSphere)
S3method(plot,minLambda)
S3method(plot,smMeanGrid)
S3method(plot,smMeanSphere)
export(CImap)
export(HPWmap)
export(MinLambda)
export(TaperingPlot)
export(dctMatrix)
export(dftMatrix)
export(eigenLaplace)
export(eigenQsphere)
export(fftshift)
export(ifftshift)
export(mrbsizeRgrid)
export(mrbsizeRsphere)
export(rmvtDCT)
export(tridiag)
export(turnmat)
import(maps)
importFrom(Rcpp, evalCpp)
